@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #080808;
}

h1,
h4,
h2,
p,
a {
  color: #f9f9f9;
  text-decoration: none;
}
ul {
  list-style: none;
}

.btn {
  padding: 12px 32px;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #fa2fb5;
  color: #f9f9f9;
  cursor: pointer;
  background: #fa2fb5;
  transition: all 500ms ease-in-out;
}

.btn-contact {
  padding: 12px 32px;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #fa2fb5;
  color: #fa2fb5;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.btn:hover {
  border: 1px solid #fa2fb5;
  background: transparent;
  color: #f9f9f9;
}
.btn-contact:hover {
  background: #bd057e;
  border: 1px solid #bd057e;
  color: #f9f9f9;
}
