@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #080808;
}

h1, h4, p, a {
  color: #F9F9F9;
  text-decoration: none;
}
ul {
  list-style: none;

}

.btn {
  padding: 12px 32px;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #F9F9F9;
  color: #F9F9F9;
  cursor: pointer;
  background: transparent;
  transition: all 500ms ease-in-out;
}

.btn-about {
  padding: 12px 32px;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #FA2FB5;
  color: #FA2FB5;
  cursor: pointer;
}

.btn, .btn-about:hover {
  background: #BD057E;
  border: 1px solid #BD057E;
  color: #F9F9F9;
}



